@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manufacturing+Consent&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@media screen and (max-width:900px) {
    nav .header .h2 .menu ul li .n {
        display: none;
    }

}

@media screen and (max-width:500px) {
    nav .header .h1 .searchbar {
        display: none;
    }

    nav .header .h2 .menu ul {
        justify-content: space-around;
        width: 100%;
    }

    nav .header {
        justify-content: space-between;
    }

    nav .header .h1 .logo {
        margin-right: 170px;
    }
}

@media screen and (max-width:1250px) {
    .categorybox {
        padding-bottom: 20px;
    }

    .categorybox .boxes {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px 50px;

    }

    .categorybox .boxes .box {
        width: 90px;
        height: 90px;
        margin: 20px 0px 0px 0px;

    }

    .colmain .col2 .pic {
        display: none;
    }

    .colmain {
        width: 98vw;
    }

    .colmain .col2 {
        width: 100%;
    }

    .colmain .col2 .mobiles {
        width: 98vw;
    }

    .colmain .col2 .mobiles .types {
        gap: 5px !important;
        margin-top: 20px !important;
        margin-left: 20px !important;
    }

    .ma .mainbox {
        flex-direction: column;
    }

    .ma .mainbox .cbox {
        width: 98% !important;
        margin-bottom: 17px !important;
    }

    .ma .mainbox .cbox .cp {
        /* display: flex !important; */
        /* flex-direction: row; */
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-rows: none !important;
    }

    .cmimg {
        display: none;
    }
}

@media screen and (max-width:730px) {

    .colmain .col2 .mobiles,
    .pcont .col3 .products {
        overflow-x: hidden !important;
    }

    .pcont .col3 .products {
        margin-left: 10px !important;
    }

    .colmain .col2 .mobiles .types,
    .pcont .col3 .products {
        flex-direction: column;
        overflow-y: hidden !important;
        margin-bottom: 20px !important;
    }

    .pcont .col3 .products {
        gap: 30px !important;
    }

    .colmain .col2 .mobiles .types .type {
        display: flex;
        flex-direction: row;
        /* background-color: #eaeaea;
        border: 3px solid grey; */
        margin-left: 0px;
        /* padding-left: 0px; */
        padding: 20px 10px 20px 10px;


    }

    .pcont .col3 .products .ptypes {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        padding: 0px 10px 0px 10px;
    }

    .colmain .col2 .mobiles .types .type .mname,
    .pcont .col3 .products .ptypes .pname {
        font-size: 14px !important;
        padding-left: 30px;
        margin-top: 5px !important;
        /* text-align: left !important; */
        /* flex-direction: row !important; */
    }

    .colmain .col2 .mobiles .types .type .mname .brand,
    .pcont .col3 .products .ptypes .pname .np {
        font-weight: 600;
    }

    .colmain .col2 .mobiles .types .type .mname .price,
    .pcont .col3 .products .ptypes .pname .pprice {
        font-weight: 300 !important;
        font-size: 14px;
    }

    .colmain .col2 .mobiles .types .type .mpic img,
    .pcont .col3 .products .ptypes .pimg img {
        width: 30px !important;
        height: auto;
    }

    .ma .mainbox .cbox .cp {
        /* display: flex !important; */
        /* flex-direction: row; */
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    }

    .lbox .lcont {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .lcl {
        display: none;
    }

    .lastcont {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        gap: 20px;
    }
}

@keyframes hoveranim {
    from {}

    to {
        transform: scale(1.2);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* justify-content: center; */
    margin: auto;
}

/* @media screen and (max-width: 900px) {
   nav .header {
       flex-direction: column;
       align-items: flex-start;
   }

   nav .header .h1, nav .header .h2 {
       width: 100%;
   }

   nav .header .h2 .menu ul {
       justify-content: space-around;
       width: 100%;
   }

   nav .header .h2 .menu ul li .n {
       display: none;
   }

   nav .header .h1 .searchbar {
       margin-top: 10px;
   }
} */

body {
    background-color: #eaeaea;
}

nav {
    background-color: white;
}

nav .header {
    max-width: 1800px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

nav .header .h1 {
    display: flex;
    justify-content: space-around;
    width: 65vw;
    /* flex: 1; */
}

nav .header .h1 .searchbar {
    /* width: 100%; */
    flex: 1;
}

nav .header .h1 .searchbar input {
    background-color: #f0f5ff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    width: 90%;
    padding: 9px 20px;
    margin: 0px 40px;
}

nav .header .h2 .menu ul {
    display: flex;
    list-style: none;
    width: 100%;
    gap: 20px;
    align-items: center;
    /* padding: 0px 20px 0px 0px; */

}

nav .header .h2 {
    /* width: 35vw; */
    flex-shrink: 0;
}

nav .header .h2 .menu {
    width: 100%;
}

nav .header .h2 .menu ul li {
    display: flex;
    padding: 0;
    gap: 5px;
    cursor: pointer;
    /* justify-content: space-around; */
    /* padding: 0px 20px 0px 0px; */
}

nav .header .h2 .menu ul li:hover {
    color: gray;
    animation: hoveranim 0.4s ease 0s forwards;
}

/* hide the checkbox */
/* #menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
} */

/* desktop menu */
nav .header .h2 .menu ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav .header .h2 .menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.categorybox {
    margin: 7px auto;
    width: 98vw;
    box-sizing: border-box;
    background-color: white;
}

.categorybox .boxes {
    max-width: 1800px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 17px 0px;
    gap: 0px 40px;
    align-items: center;
}

.categorybox .boxes .box {
    display: flex;
    flex-direction: column;
    /* min-width: 90px; */
    cursor: pointer;
}

.categorybox .boxes .box:hover {
    animation: hoveranim 0.4s ease 0s forwards;
    color: grey;
}

.categorybox .boxes .box .name {
    font-size: 14px;
    font-weight: 530;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ad {
    width: 100vw;
    margin-top: 17px;
    margin-bottom: 8px;
}

.ad .c {
    background-color: white;
    max-width: 1800px;
    width: 98%;
    margin: auto;
}

.ad .c img {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.colmain,
.pcont,
.ma,
.lbox,
footer {
    max-width: 1800px;
    width: 98vw;
    box-sizing: border-box;
    /* height: 51vh; */
}

.colmain .col2 {
    width: 100%;
    display: flex;
    gap: 17px;
}

.colmain .col2 .mobiles {
    background-color: white;
    /* width: 82vw; */
    /* margin: 9px; */
    overflow: scroll;
    ;
}

.colmain .col2 .mobiles .heading {
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

.colmain .col2 .mobiles .types {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    width: 1150px;
    margin: 60px 0px 70px 40px;
    gap: 30px;
}

.colmain .col2 .mobiles .types .type {
    cursor: pointer;
}

.colmain .col2 .mobiles .types .type:hover {
    animation: hoveranim 0.4s ease 0s forwards;
    color: grey;
}

.colmain .col2 .mobiles .types .type .mpic img {
    /* width: 65%; */
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colmain .col2 .mobiles .types .type .mname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
}

.colmain .col2 .mobiles .types .type .mname .price {
    font-weight: 600;
}

.colmain .col2 .pic {
    width: 17%;
}

.colmain .col2 .pic .adp {
    width: 100%;
}

.colmain .col2 .pic .adp img {
    width: 100%;
    height: auto;
}

.pcont {
    margin: 17px auto;
}

.pcont .col3 {
    background-color: white;
    overflow: auto;
    overflow: scroll;
}

.pcont .col3 .products {
    display: flex;
    gap: 90px;

    justify-content: space-around;
    /* width: 100%; */
    width: 1150px;
    margin: 40px 0px 30px 60px;

}

.pcont .col3 .products .pimg img {
    width: auto;
    height: 150px;
}

.pcont .col3 .phead {
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

.pcont .col3 .products .ptypes {
    cursor: pointer;
}

.pcont .col3 .products .ptypes:hover {
    animation: hoveranim 0.4s ease 0s forwards;
    color: grey;
}

.pcont .col3 .products .ptypes .pname {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
}

.pcont .col3 .products .ptypes .pname .pprice {
    font-weight: 600;
    padding-top: 10px;
}

.ma .mainbox {
    margin: 17px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between !important;
}

.ma .mainbox .cbox,
.cmimg {
    background-color: white;
    width: 32.3%;
    height: 98%;
}

.cmimg {
    height: 100vh !important;
}

.ma .mainbox .cmimg img {
    width: 100%;
    height: 100%;
}

.ma .mainbox .cbox .cp {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 0px 15px 15px 15px;
    width: 100%;

}

.ma .mainbox .cbox .cp .cproducts:hover {
    animation: hoveranim 0.4s ease 0s forwards;
    color: grey;
    border: none;
}

.ma .mainbox .cbox .cp .cproducts {
    border: 1px solid lightgray;
    height: 100%;
    padding: 20px 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.ma .mainbox .cbox .cp .cproducts .cimg {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    width: 90%;
}

.ma .mainbox .cbox .cp .cproducts .cimg img {
    width: 100%;
    height: auto;
}

.ma .mainbox .cbox .chead {
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
}

.ma .mainbox .cbox .cp .cproducts .cname {
    display: flex;
    flex-direction: column;
}

.ma .mainbox .cbox .cp .cproducts .cname .status {
    font-weight: 600;
    color: #108934;
}

.img100 {
    width: 60% !important;
}

.img200 {
    width: 85% !important;
}

.cmimg {
    cursor: pointer;
}

/* .img100 img{
    width: 100%;
} */
/* .lbox{
    max-width: 1800px;
    width: 98vw;
 } */
.lcont {
    margin: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    background-color: white;
}

.lc {
    width: 99%;
    /* max-height: 35vh; */
}

.lc img {
    width: 100%;
    height: 90%;
    overflow-y: hidden;
    cursor: pointer;
}

.lc img:hover {
    animation: hoveranim 0.4s ease 0s forwards;
}

footer {
    background-color: #212121;
}

.lastcont {
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lastcont .flist {
    font-size: 12px;
}

.lastcont .flist .listname {
    color: #707070;
}

.lastcont .flist .listcontent ul {
    list-style: none;
    color: white;
    font-weight: 600;
    /* padding: 10px; */
}

footer .lastcont .flist .listcontent ul li {
    margin: 10px 0px;
    cursor: pointer;
}

footer .lastcont .flist .listcontent ul li:hover {
    text-decoration: underline;
}